# Basic SQL Queries: Flights Database
Â© Stutern Graduate Accelerator

## Instructions to Students

This challenge is designed to determine how much you have learned so far and will test your knowledge on basic SQL queries.

#### Kindly write your answers in the answer section by double clicking the cell titled "YOUR ANSWER HERE"

Just incase you don't have the flights.db file, click [here](https://drive.google.com/drive/folders/1zoc3iqg3SMn2817C3ZAWeP2Bu-4FrvGS?usp=sharing) to download and ensure you upload it colab 

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

### **FINAL NOTICE, DO NOT IGNORE**

* Make sure you select the right answers by running the right queries
* Once you are satisfied with your work, Kindly share a link to your notebook on **citrone**.
* Ensure access to notebook by changing general access from "Restricted" to "Anyone can view". This can be achieved by clicking the share button beside the comment button at the right hand side of the top menu/nav bar .

###**Thanks!**


**_Good Luck!_**

Below is an Entity Relationship Diagram (ERD) of the flights database:

<img src="https://github.com/Explore-AI/Pictures/blob/master/flights_ER_diagram.png?raw=true" width=40%/>

As can be seen from the ERD, the flights database consists of four tables:
- **flights**: all domestic flights in the USA in 2008
- **carriers**: lookup table for all the carriers
- **planes**: lookup table for all the planes 
- **airports**: lookup table for all the airports

For this challenge you will apply the use of Basic SQL queries to gain insight into the flights database.

# DOUBLE CLICK HERE TO WRITE YOUR NAME

## NAME :  Sophia Jackrich
Name should appear as it is on citrone

## Loading the database

Before you start producing basic SQL queries, you need to prepare your SQL environment. You can do this by loading in the magic command `%load_ext sql` as we've seen in previous classes. Next you can go ahead and load in your database. To do this you will need to ensure you have downloaded the `flight.db` [here](https://drive.google.com/drive/folders/1zoc3iqg3SMn2817C3ZAWeP2Bu-4FrvGS?usp=sharing)

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.43)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |ââââââââââââââââââââââââââââââââ| 1.6 MB 7.3 MB/s
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.10.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.1

In [ ]:
pip install SQLAlchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (1.4.43)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy) (2.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy) (4.1.1)

In [ ]:
!python --version

Python 3.7.15

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |ââââââââââââââââââââââââââââââââ| 43 kB 2.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [6]:
%reload_ext sql

In [7]:
 %sql sqlite:///flights.db

In [3]:
%%sql
SELECT *
FROM sqlite_master

 * sqlite:///flights.db
Done.

[('table', 'airports', 'airports', 2, 'CREATE TABLE `airports` (\n  `iata` varchar(10) DEFAULT NULL\n,  `airport` varchar(100) DEFAULT NULL\n,  `city` varchar(100) DEFAULT NULL\n,  `state` varchar(50) DEFAULT NULL\n,  `country` varchar(50) DEFAULT NULL\n,  `lat` float(24,0) DEFAULT NULL\n,  `long` float(24,0) DEFAULT NULL\n)'),
 ('table', 'carriers', 'carriers', 43, 'CREATE TABLE `carriers` (\n  `Code` varchar(10) DEFAULT NULL\n,  `Description` varchar(100) DEFAULT NULL\n)'),
 ('table', 'flights', 'flights', 56, 'CREATE TABLE `flights` (\n  `index` integer DEFAULT NULL\n,  `Date` longtext\n,  `DayOfWeek` integer DEFAULT NULL\n,  `DepTime` double DEFAULT NULL\n ... (528 characters truncated) ... text\n,  `CarrierDelay` longtext\n,  `WeatherDelay` longtext\n,  `NASDelay` longtext\n,  `SecurityDelay` longtext\n,  `LateAircraftDelay` longtext\n)'),
 ('table', 'planes', 'planes', 14331, 'CREATE TABLE `planes` (\n  `tailnum` varchar(10) DEFAULT NULL\n,  `type` varchar(100) DEFAULT NULL\n,  `manufacturer` varchar(100) DEFAULT NULL\n,  ` ... (77 characters truncated) ...   `status` varchar(100) DEFAULT NULL\n,  `aircraft_type` varchar(100) DEFAULT NULL\n,  `engine_type` varchar(100) DEFAULT NULL\n,  `year` longtext\n)'),
 ('table', 'sysdiagrams', 'sysdiagrams', 14448, 'CREATE TABLE `sysdiagrams` (\n  `name` varchar(160) NOT NULL\n,  `principal_id` integer NOT NULL\n,  `diagram_id` integer NOT NULL\n,  `version` integer DEFAULT NULL\n,  `definition` longblob\n,  PRIMARY KEY (`diagram_id`)\n,  UNIQUE (`principal_id`,`name`)\n)'),
 ('index', 'sqlite_autoindex_sysdiagrams_1', 'sysdiagrams', 14449, None),
 ('index', 'idx_flights_ix_flights_index', 'flights', 14450, 'CREATE INDEX "idx_flights_ix_flights_index" ON "flights" (`index`)')]

#Exploring the database 

Before we begin this challenge we can go ahead and take a look at the composition of each table in the flights database

In [4]:
%%sql 

PRAGMA table_info(flights);

 * sqlite:///flights.db
Done.

[(0, 'index', 'INTEGER', 0, 'NULL', 0),
 (1, 'Date', 'longtext', 0, None, 0),
 (2, 'DayOfWeek', 'INTEGER', 0, 'NULL', 0),
 (3, 'DepTime', 'double', 0, 'NULL', 0),
 (4, 'CRSDepTime', 'longtext', 0, None, 0),
 (5, 'ArrTime', 'double', 0, 'NULL', 0),
 (6, 'CRSArrTime', 'longtext', 0, None, 0),
 (7, 'UniqueCarrier', 'longtext', 0, None, 0),
 (8, 'FlightNum', 'longtext', 0, None, 0),
 (9, 'TailNum', 'longtext', 0, None, 0),
 (10, 'ActualElapsedTime', 'double', 0, 'NULL', 0),
 (11, 'CRSElapsedTime', 'longtext', 0, None, 0),
 (12, 'AirTime', 'longtext', 0, None, 0),
 (13, 'ArrDelay', 'double', 0, 'NULL', 0),
 (14, 'DepDelay', 'double', 0, 'NULL', 0),
 (15, 'Origin', 'longtext', 0, None, 0),
 (16, 'Dest', 'longtext', 0, None, 0),
 (17, 'Distance', 'INTEGER', 0, 'NULL', 0),
 (18, 'TaxiIn', 'longtext', 0, None, 0),
 (19, 'TaxiOut', 'longtext', 0, None, 0),
 (20, 'Cancelled', 'longtext', 0, None, 0),
 (21, 'CancellationCode', 'longtext', 0, None, 0),
 (22, 'Diverted', 'longtext', 0, None, 0),
 (23, 'CarrierDelay', 'longtext', 0, None, 0),
 (24, 'WeatherDelay', 'longtext', 0, None, 0),
 (25, 'NASDelay', 'longtext', 0, None, 0),
 (26, 'SecurityDelay', 'longtext', 0, None, 0),
 (27, 'LateAircraftDelay', 'longtext', 0, None, 0)]

In [5]:
%%sql 

PRAGMA table_info(carriers);

 * sqlite:///flights.db
Done.

[(0, 'Code', 'varchar(10)', 0, 'NULL', 0),
 (1, 'Description', 'varchar(100)', 0, 'NULL', 0)]

In [6]:
%%sql 

PRAGMA table_info(airports);

 * sqlite:///flights.db
Done.

[(0, 'iata', 'varchar(10)', 0, 'NULL', 0),
 (1, 'airport', 'varchar(100)', 0, 'NULL', 0),
 (2, 'city', 'varchar(100)', 0, 'NULL', 0),
 (3, 'state', 'varchar(50)', 0, 'NULL', 0),
 (4, 'country', 'varchar(50)', 0, 'NULL', 0),
 (5, 'lat', 'float(24,0)', 0, 'NULL', 0),
 (6, 'long', 'float(24,0)', 0, 'NULL', 0)]

In [7]:
%%sql 

PRAGMA table_info(planes);

 * sqlite:///flights.db
Done.

[(0, 'tailnum', 'varchar(10)', 0, 'NULL', 0),
 (1, 'type', 'varchar(100)', 0, 'NULL', 0),
 (2, 'manufacturer', 'varchar(100)', 0, 'NULL', 0),
 (3, 'issue_date', 'varchar(100)', 0, 'NULL', 0),
 (4, 'model', 'varchar(50)', 0, 'NULL', 0),
 (5, 'status', 'varchar(100)', 0, 'NULL', 0),
 (6, 'aircraft_type', 'varchar(100)', 0, 'NULL', 0),
 (7, 'engine_type', 'varchar(100)', 0, 'NULL', 0),
 (8, 'year', 'longtext', 0, None, 0)]

## Questions on Basic SQL Queries 

Now that you have an idea of what information each table contains, you can use the given cell below each question to execute your basic SQL queries to find the correct output from the options provided for the multiple choice questions on form.

**Question 1**

How many different carriers are there in total in the database?

**Options:**
- 1 252
- 1491
- 20
- 37

In [8]:
%%sql
SELECT COUNT(*)
FROM carriers

 * sqlite:///flights.db
Done.

[(1491,)]

### YOUR ANSWER HERE: A (1491)

**Question 2** 

How long was the longest delay before departure? 

**Options:**
- 1355 min
- 999 min
- 1099 min
- 588 min

In [9]:
%%sql
SELECT MAX(DepDelay)
FROM flights

 * sqlite:///flights.db
Done.

[(1355.0,)]

### YOUR ANSWER HERE: A (1355min)

**Question 3** 

How many flights departed on the 28th of January 2008?

**Options:**
- 540 908
- 20 149
- 19 495
- 18 056

In [10]:
%%sql
SELECT COUNT(*)
FROM flights
WHERE Date = '2008/1/28'

 * sqlite:///flights.db
Done.

[(20149,)]

### YOUR ANSWER HERE: B (20149)

**Question 4**
 
 What is the distance between Midway Airport (MDW) and Houston Airport (HOU)?
 
 **Options:**
 - 611 km
 - 972 km
 - 1 121 km
 - 937 km

In [23]:
%%sql
SELECT Origin, Dest, Distance
FROM flights
WHERE origin LIKE 'MDW' AND Dest LIKE 'HOU'
LIMIT 1

 * sqlite:///flights.db
Done.

[('MDW', 'HOU', 937)]

### YOUR ANSWER HERE: D (937)

**Question 5**

Which day of the week had the highest number of cancelled flights?(Note 1 = cancelled , 0 = not cancelled;)


**Options:**
- Monday(1)
- Wednesday(3) 
- Saturday(6) 
- Thursday (4)

In [14]:
%%sql
SELECT DayOfWeek, COUNT(*)
FROM flights
WHERE Cancelled = 1
GROUP BY DayOfWeek
ORDER BY COUNT(*) DESC
LIMIT 1

 * sqlite:///flights.db
Done.

[(4, 3093)]

### YOUR ANSWER HERE: Thursday (4)

**Question 6**

How many airports have the word "International" in their name?

**Options:**
- 110
- 124
- 8
- 2

In [15]:
%%sql
SELECT COUNT(airport)
FROM airports
WHERE airport LIKE "%International%";

 * sqlite:///flights.db
Done.

[(124,)]

### YOUR ANSWER HERE: B (124)

**Question 7**

What is the most produced model for the manufacturer "BOEING"?

**Options:**
- 717-200
- 737-7H4
- 757-222
- 737-3H4

In [17]:
%%sql
SELECT model, COUNT(*)
FROM planes
WHERE manufacturer = "BOEING"
GROUP BY model
ORDER BY COUNT(*) DESC
LIMIT 1

 * sqlite:///flights.db
Done.

[('737-7H4', 308)]

### YOUR ANSWER HERE: B (737-7H4)

**Question 8**

How many planes landed at Los Angeles International Airport? 

**Options:**
- 215 608
- 18 964
- 41 258
- 39 422

In [25]:
%%sql
SELECT airport, COUNT(airport) AS NumOfLanding
FROM airports AS a
JOIN flights AS f
ON f.Dest = a.Iata
WHERE a.airport = "Los Angeles International"

 * sqlite:///flights.db
Done.

[('Los Angeles International', 18964)]

### YOUR ANSWER HERE: B(18 964)